




@import url(https://fonts.googleapis.com/css?family=Roboto:300);
html{
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 15px;
  width: 100%;
  height: 100%;
  margin:0;
  padding: 0;
}
span{
  font-family: "Roboto", sans-serif;
}
body{
    background-color: #FBFBFB;
    /* background-image: url(image/webb/webb/webb.png); */
    height: 100%;
    width: 100%;
    margin:0;
    
}
h1 {
    text-align: center;
    color:#444444;
    font-family: "Roboto"; sans-serif;
    font-size: 32px;
    padding-top: 2em;
}
h2 {
  text-align: center;
  color:#444444;
  font-family: "Roboto"; sans-serif;
  font-size: 24px;
}
h3 {
  color:#444444;
  font-family: "Roboto"; sans-serif;
  font-size: 20px;
}
 footer{
   width: 100%;
 }
.cont-footer h3{
  color: #f2f2f2;
}
.form h3{
  color: #444444;
}
nav, header{
  width: 100%;
}

.container-site{
  position: relative;
    width: 964px;
    margin: 0 auto;
    padding: 0;
}
/* .pagination-container *::after,
.pagination-container *::before {
	box-sizing: border-box;
} */

#menu {
	background: #60CAAD;
    color: #FFF;
    height: 50px;
    width: 101.3%;
    margin-left: -0.7%;
    margin-right: 0;
	  /* padding-left: 18px; */
    border-radius: 0px;

 
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
}
#menu a {
	display: block;
	line-height: 50px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #444444;
	background: #FBFBFB;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 50px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 50px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #60CAAD;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #FBFBFB;
	color: #444444;
}
/* @media screen and (max-width: 900px){
  #master-carousel-mob {
    display: none;
  }
} */
@media only screen and (min-width : 320px) and (max-width : 480px){
.container-site{
width: 350px;
}
.steps p{
  width: 200px!important;
  margin: -5% 0 5% -5% !important;
}

#master-carousel {
  display: none;
}
#review-carousel {
  display: none;
}
.cont-review{
  width: 320px!important;
}
.about-us{
  width: 310px!important; 
}
.selectbox{
  width: 320px!important;
}

.review-answer{
      margin-top: 3%!important;
    margin-right: -90px!important;
     }
.cont-masters{
  width: 300px!important;
}
.cont-address1{
margin-left: 50px;
}
.cont-address2{
  margin-left: 30px;
}
.orderpage-buttons-flex-2{
margin-left: -18%!important;
}
.prof-div{
margin-right: 20%;
width: 340px;
}
.prof-div .profile-description{
  margin-left: -30%;
}
.prof-div .label2{
  margin-left: 70%;
}
.moi-zakazy{
  width: 20em!important;
}
.footer{
  width: 350px!important;
}

.review-img-carousel{
  display: none!important;
}
.review-text-carousel{
  margin-right: 75%;
}

.review-answer-carousel{
  display: none!important;
}
.review-star-carousel{
  display: none;

}

.cont-review-carousel{
  width: 245px;
}
}




@media screen and (max-width: 800px){
	#menu {position:relative; width:104.2%; margin-left: -2.1%;}
	#menu ul {background: #60CAAD;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
  #menu input:checked ~ ul {display:block}
  
  #master-carousel-mob {
    display: block!important;
    width: 290px!important;
  }
  #review-carousel-mob {
    display: block!important;
    width: 290px;
  }
  
/* .selectbox{
  width: 80%!important;
}
.selectbox button{
  width: 16em!important;
} */

  .cont-header{
    width: 90%!important;
    margin-right: 20%!important;
  }
  

  .orderpage-buttons-flex{
  display: flex;
  flex-wrap: nowrap!important;
  justify-content: center!important;
  align-items: center!important;
  align-content: center;
  flex-direction: column!important;
  }
  /* .orderpage-buttons-flex-1{
    width: 100%!important;
  }
  .orderpage-buttons-flex-2{
    width: 100%!important;
  } */
  .orderpage-buttons-flex-1 button{
    margin-left: -15%;
    margin-top: 5%;
  }
  .orderpage-buttons-flex-2 button{
    margin-left: 3%;
    margin-top: 5%;
  }

  
  .cont-sale1{
    width: 100%!important;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 15%;
  }
  
  .cont-sale1 button{
    margin-bottom: -40px;
  }
  .cont-sale2 button{
    margin-bottom: -40px;
  }
  .cont-sale3 button{
    margin-bottom: -40px;
  }
  .cont-sale4 button{
    margin-bottom: -40px;
  }
  .cont-sale5 button{
    margin-bottom: -40px;
  }
  .cont-sale6 button{
    margin-bottom: -40px;
  }

  .cont-sale2{
    width: 100%!important;
    margin-left: 10%;
    margin-bottom: 15%;
  }
  .cont-sale3{
    width: 100%!important;
    margin-left: 10%;
    margin-bottom: 15%;
  }
  .cont-sale4{
    width: 100%!important;
    margin-left: 10%;
    margin-bottom: 15%;
  }
  .cont-sale5{
    width: 100%!important;
    margin-left: 10%;
    margin-bottom: 15%;
  }
  .cont-sale6{
    width: 100%!important;
    margin-left: 10%;
    margin-bottom: 15%;
  }
 .main-service1{
  width: 70%!important;
  margin-bottom: 10%;
 }
 .main-service2{
  width: 70%!important;
  margin-bottom: 10%;
 }
 .main-service3{
  width: 70%!important;
  margin-bottom: 10%;
 }
.icon-steps{
  margin:0!important;
}
.steps{
  margin-left: 7%!important;
}
.steps p{
 width: 150px;
  margin: -50.5% 0 10% 70% !important;
}
  .terms{
    max-width: 75%!important;
  }

  .owl-lazy{
    padding-left: 80px!important;
  }

  .order-item{
    width: 20em!important;
  }
  .order-card p{
    margin: 0 0 0 20% !important;
  }
  .cont-header-1, .cont-header-2, .cont-header-3 span{
    display: none;
  }
  .cont-header-3{
    width: 80%!important;
  }
  .cont-header-4{
    width: 20%!important;
  }
.cont-header span{
  font-size: 1;
}

  .cont1 {
    width: 100%!important;
    
  }
  .cont2{
    width: 100%!important;
  }
  .cont-footer-1{
    display: none;
  }
  .cont-footer-2{
    display: none;
  }
  .cont-footer-3{
    width: 100%!important;
    margin-left: 4%;
  }
  .cont-footer-4{
    width: 100%!important;
    margin-left: 4%;
  }

  .cont-advantage1{
    width: 100%!important;
  }
  .cont-advantage2{
    width: 100%!important;
  }
  .cont-advantage3{
    width: 100%!important;
  }
  .cont-advantage4{
    width: 100%!important;
  }

.cont-master1{
  width: 80%!important;
  /* margin-left: -15%; */

}
.cont-master2{
  width: 80%!important;
  /* margin-left: -15%; */
}
.cont-master3{
  width: 80%!important;
  /* margin-left: -15%; */
}
.cont-master4{
  width: 80%!important;
  /* margin-left: -15%; */
}
.cont-master5{
  width: 80%!important;
  /* margin-left: -15%; */
}
.cont-master6{
  width: 80%!important;
  /* margin-left: -15%; */
}
.review-img{
  width: 100%!important;
}
.review-text{
  width: 100%!important;
}
.review-answer{
  width: 100%!important;
  margin-top: 3%!important;
  margin-left: -40px!important;
 
}

.cont-address1{
  width: 100%!important;
  margin-bottom: 15%;
}
.cont-address2{
  width: 100%!important;
}

.text1{
  display: none!important;
}
.form-social{
  margin-left: -6em;
  margin-top: 1em;
  width: 15em;
}

.digital-service1{
  width: 70%!important;
  }
  .digital-service2{
    width: 70%!important;
  }
  .digital-service3{
      width: 70%!important;
  }
  .digital-service4{
    width: 70%!important;
  }
  .digital-service5{
      width: 70%!important;
  }
  .digital-service6{
        width: 70%!important;
  }

  .price-list-title{
    background-color: #E0E4D6;
    max-width: 91%!important;
    display: block;
    margin: 3.5% auto 2% auto;
    height: 3.1em;
    padding-top: 1px;
    padding-left: 20px;
  }
  .price-list-item{
    max-width: 90%!important;
    border: 1.5px solid #888;
    background: #fff;
    display: block;
    margin: 1% auto 0 auto;
    padding-left: 20px;
    position: relative;
  }
  .price-item{
    position: absolute;
    top:0;
    right: 7px!important;
  }



}

.breadcrumb-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 1.5rem 0 0 0;
	list-style: none;
}

.breadcrumb-list li {
	font-size: 1rem;
	
}

.breadcrumb-item.active {
	color: #000000;
}

.breadcrumb-item + .breadcrumb-item::before {
	content: '/';
	display: inline-block;
	padding: 0 0.5rem;
	color: #9DA5A2;
}

.breadcrumb-list a {
	color: #888;
	text-decoration: none;
	transition: all 0.2s ease;
}

.breadcrumb-list a:hover {
	color: #000000;
}

.breadcrumb-list a.active {
	color: #000000;
}

.cont{

    display: flex;
    margin: 3% auto 7% auto;
    flex-direction: row;
    flex-wrap: wrap;
}
  

  
.cont a{
  
    color: rgb(51, 51, 51);
    text-decoration: none;
}
.cont a:hover{
  
  color: #0e795c;
}
.cont1{
    width: 40%;
    height: 100%;
}
.cont2 iframe{
    width: 80%;
}
.cont2{
    width: 60%;
}

.icon {
    height: 30px;
    width: 30px;
    padding: 0px 5px 0 5px;
}
.logo-img{
  max-height: 100;
  width: auto;
}
.icon-header{
  height: 28px;
  width: 28px;
  padding: 5px 7px 0px 0px;
  vertical-align: middle;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 59%;
    margin: 5% auto;
    padding: 45px;
    text-align: center;
    border: 1.5px solid #807f7f91;
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
  }
  .form h3{
    margin-bottom: 3%;
  }
  .form input{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 16px;
  }
  .form textarea{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 16px;
  }
  .form select{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 16px;
  }

  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #60CAAD;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 15px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #279B7B;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 13px;
    text-align: justify;
  }
  .form .message a {
    color: #60CAAD;
    text-decoration: none;
  }

  .cont-footer{
    display: flex;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #444444;
    color: #FBFBFB;
    font-size: 15px;
    padding-bottom: 3.5em;
    padding-right: -3em;
  }

  .cont-footer-1{
    width: 20%;
    padding: 2%;
  }
  .cont-footer-2{
    width: 25%;
    padding-top: 1.5%;
  }
  .cont-footer-3{
    width: 25%;
    padding-top: 1.5%;
  }
  .cont-footer-4{
    width: 25%;
    padding-top: 1.5%;
  }
  .cont-footer ul{
    text-decoration: none;
    color: #FBFBFB;
    margin-left: -1.8em;
  }
  .cont-footer li a, .cont-footer a{
    color: #FBFBFB;
    text-decoration: none;
  }
  .cont-footer li a:hover, .cont-footer a:hover {
    color:#60CAAD;
    text-decoration: none;
  }
  .cont-footer li a:active .cont-footer a:active{
    color:#0e795c;
  }

  .cont-header{
    display: flex;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .cont-header-1{
    width: 25%;
  }
  .cont-header-2{
    width: 20%;
    padding-top: 0.7%;
  }
  .cont-header-3{
    width: 40%;
  }
  .cont-header-3 a{
    padding: 0px 10px;
  }
  .cont-header-4{
    width: 15%;
    padding-top: 0.7%;
  }
  .cont-header a{
    color: #666262;
    text-decoration: none;

  }
  .cont-header a:hover{
    color:#60CAAD;
    text-decoration: none;
  }
  .cont-header a:active{
    color:#0e795c;
    text-decoration: none;
  }

  .main-link a{
    color: #666262;
    text-decoration: none;
  }
  .main-link a:hover{
    color:#60CAAD;
    text-decoration: none;
  }
  .main-link a:active{
    color:#0e795c;
    text-decoration: none;
  }
.profile-description, .order-card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 2em 0;
  
}
.moi-zakazy{
  width: 26em;
}
.label-1, .order-column-1{
  width: 50%;
}
.label-2, .order-column-2{
  width: 50%;
}
.profile-description p{
  margin: 0 0 0 60%;
}

.icon-lk{
  vertical-align: middle;
}
.lk-icon-flex-column{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.lk-icon-flex-column-1, .lk-icon-flex-column-2, .lk-icon-flex-column-3{
  margin: 0 0 1.5em 0;
}
 button{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #60CAAD;    
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 15px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
 }
 button:hover, button:active{
  background: #279B7B;
 }
 .order-item{
  border: 1.5px solid #807f7f91;
   width: 657px;
   margin: 2.5% 0;

 }
 .order-column-1 p{
   padding: 0 25% 0 0;
 }

 .order-card p{
   margin: 0 0 0 30%;
 }

 .orderpage-buttons-flex{
  display: flex;
  margin: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
 }
 .orderpage-buttons-flex-1{
   width: 50%;
   padding-left: 16%;
 }
 .orderpage-buttons-flex-2{
  width: 50%;
  padding-left: 15.5%;
}

/*Пагинатор*/
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2.5%;
  margin-bottom: 4.5%;
  }
  .pagination a {
  color: black;
  /* float: left; */
  padding: 8px 16px;
  text-decoration: none;
  }
  .pagination a.active {
  background-color: #9DA5A2;
  color: #444444;
  border-radius: 3px;
  }
  
  .pagination a:hover:not(.active) {background-color: #eee; border-radius: 3px;}
  /*Пагинатор закончился*/


  .owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
  }
  .owl-nav button.owl-prev {
    left: 0;
  }
  .owl-nav button.owl-next {
    right: 0;
  }
  
  .owl-dots {
    text-align: center;
    padding-top: 15px;
  }
  .owl-dots button.owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
  }
  .owl-dots button.owl-dot.active {
    background-color: #000;
  }
  .owl-dots button.owl-dot:focus {
    outline: none;
  }
  .owl-nav button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: #FBFBFB !important;
  }
  .owl-carousel span {
      font-size: 70px;    
      position: relative;
      top: -5px;
      margin-bottom: 15%;
  }
  .owl-nav button:focus {
      outline: none;
  }

.owl-carousel {
  width: 70%;
  margin-left: 15%;
  margin-bottom: 5%;
}

.owl-carousel .owl-item img.owl-lazy {
  width: 100px;
}

.owl-stage-outer{
  padding-top: 4.5%;
}

.owl-lazy{
  padding-left: 55px;
}

/* .terms ul{
  list-style-image: url(image/check_sign.png);
 } */
.terms{
  width: 680px;
  margin-top: 3%;
  margin-bottom: 5em;
}
 .icon-terms{
  vertical-align: middle;
  height: 25px;
  width: 25px;
  padding: 0px 7px 3.5px 0px;
  position: relative;
  left: 20%;
  
 }

.terms span{
  position: relative;
  left: 23%;
}
.cont-sales{
    display: flex;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 7%;
    
}
.cont-sale1{
  width: 40%;
  padding: 0 0 5% 0;
  position: relative;
}
.cont-sale2{
  width: 40%;
  padding: 0 0 5% 0;
  position: relative;
}
.cont-sale3{
  width: 40%;
  padding: 4% 0 5% 0;
  position: relative;
}
.cont-sale4{
  width: 40%;
  padding: 4% 0 5% 0;
  position: relative;
}
.cont-sale5{
  width: 40%;
  padding: 4% 0 5% 0;
  position: relative;
}
.cont-sale6{
  width: 40%;
  padding: 4% 0 5% 0;
  position: relative;
}
.cont-sales img{
  width: 90%;
  border: 1.5px solid #807f7f91;

}
.cont-sale1 button{
  position: absolute;
  right:0;
  bottom: 0;
  margin-right: 10%;
}
.cont-sale2 button{
  position: absolute;
  right:0;
  bottom: 0;
  margin-right: 10%;
}
.cont-sale3 button{
  position: absolute;
  right:0;
  bottom: 0;
  margin-right: 10%;
}
.cont-sale4 button{
  position: absolute;
  right:0;
  bottom: 0;
  margin-right: 10%;
}
.cont-sale5 button{
  position: absolute;
  right:0;
  bottom: 0;
  margin-right: 10%;
}
.cont-sale6 button{
  position: absolute;
  right:0;
  bottom: 0;
  margin-right: 10%;
}

.cont-advantages{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 85%;
  margin-left: 9%;
  margin-top: 4%;
  justify-content: space-evenly;

}
.cont-advantage1{
  width: 35%;
  margin-bottom: 5%;
}
.cont-advantage2{
  width: 35%;
  margin-bottom: 5%;
}
.cont-advantage3{
  width: 35%;
  margin-bottom: 5%;
}
.cont-advantage4{
  width: 35%;
  margin-bottom: 5%;
}
.cont-advantages h3{
  text-align: center;
}
.icon-advantages{
  display: block;
  margin: 0 auto;
}
.icon-advantages{
  width: 55px;
  height: 55px;
}

.sale-img{
  max-width: 80%;
  border: 1.5px solid #807f7f91;
  display: block;
  margin: 3% auto;
  margin-bottom: 8%;
}

.about-us{
  width: 661.75px;
  margin: 3% auto 5% auto;
}

.card-master{
  width: 14em;
  border: 1.5px solid #807f7f91;
  padding: 13px 0 13px 25px;
}
.card-master img{
  width: 13em;
  height: auto;
  display: block;
  margin:auto;
}

.cont-masters{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 5% 0 1% 5%;
  width: 900px;
}

.cont-master1{
  width: 30%;
  margin-bottom: 5%;

}
.cont-master2{
  width: 30%;
  margin-bottom: 5%;
}
.cont-master3{
  width: 30%;
  margin-bottom: 5%;
}
.cont-master4{
  width: 30%;
  margin-bottom: 5%;
}
.cont-master5{
  width: 30%;
  margin-bottom: 5%;
}
.cont-master6{
  width: 30%;
  margin-bottom: 5%;
}

.selectbox{
  background-color: #eef1e4c9;
  border: 3.5px dashed rgba(157, 165, 162, 0.53);
  width: 661.75px;
  display: block;
  margin: 0 auto 5% auto;
}
.cont-select select{
  border-radius: 0%;
  padding: 10px 15px;
  border: 2px solid #acacac;
  background: #ffffff;
  color: #7b7b7b;
  width: 17.5em;
}
.cont-select select:hover,
.cont-select select:focus {
  color: #000000;
  background: #ffffff;
  border: 2px solid #60CAAD;
}

.cont-select{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.select_type{
  width: 40%;
  margin: 2em 0 0 3em;
}
.select_service{
  width: 40%;
  margin: 2em 0 0 3em;
}
.select_time{
  width: 40%;
  margin: 2em 0 0 3em;
}
.select_count{
  width: 40%;
  margin: 2em 0 0 3em;
}

.cont-review{
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 661.75px;
margin: 0 auto 5% auto;
justify-content: center;
background-color: white;
border: 1.5px solid #807f7f91;
}
/* .review-card{
  box-shadow: 2px 2px 15px 1px rgba(170, 169, 169, 0.61);
  max-width: 45em;
  height: 40em;
  display: block;
  margin: 0 auto 7% auto;
} */
.review-title{
  width: 40%;
  margin: 3% 0 3% -5.5%;
}
.review-star{
width: 40%;
margin: 2.5% 0 3% 0;
}
.review-star img{
display: block;
float: right;
}
.review-img{
  width: 40%;
  margin-left: 1.5%;
  margin-bottom: 4%;
  
}
.review-img img{
  border: 0.5px solid rgba(136, 136, 136, 0.582);
}
.review-text{
  width: 40%;
  margin-left: 8%;
}
.review-answer{
  width: 40%;
  margin-top: -35%;
  margin-left: 50%;
}

fieldset, label { margin: 0 0 2% 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.cont-address{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 5% 0;
}
.cont-address a{
  
  color: rgb(51, 51, 51);
  text-decoration: none;
}
.cont-address a:hover{

color: #0e795c;
}
.cont-address1{
  width: 40%;
}
.cont-address2{
  width: 60%;
}
.cont-address iframe{
  width: 90%;
  height: 30em;
}
.address-text{
margin-left: 25%;
margin-top: 2%;
}

/* .sale-carousel .item{
width: 75%;
box-shadow: 10px 10px 20px 0px rgba(199, 197, 197, 0.534);
} */
.sale-carousel{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sale-carousel .owl-item{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sale-carousel .owl-carousel{
  width: 70%;
  margin-left: 0;
  margin-bottom: 5%;
}


.main-services{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 5% 0 8% 0;
  
  
}
.main-services img{
  width: 7em;
  height: 7em;
  display: block;
  margin: 7% auto;
}
.main-services p{
text-align: center;
}
.main-service1{
  width: 22%;
  height: 13em;
  background-color: white;
  border: 1.5px solid #807f7f91;
  margin-right: 3%;
}
.main-service2{
  width: 22%;
  height: 13em;
  background-color: white;
  border: 1.5px solid #807f7f91;
  margin-right: 3%;
}
.main-service3{
  width: 22%;
  height: 13em;
  background-color: white;
  border: 1.5px solid #807f7f91;
}
.main-services a{
  display: block;
  color: #444444;
  text-decoration: none;
}
.main-service3:hover, .main-service2:hover, .main-service1:hover{
  box-shadow: 2px 2px 15px 1px #60CAAD;
}

.steps{
  width: 100px;
  display: block;
  margin: 4% 0 8% 10%;
}
 .icon-steps{
  vertical-align: middle;
  height: 50px;
  width: 50px;
  margin-left: 47%;
  margin-bottom: 5%;
  
 }

.steps p{
  width: 43em;
  margin: -57% 0 38% 115%;
}
.steps span{
font-weight: bold;
  }



/* body{font-family:Roboto,'Open Sans',sans-serif}
@-webkit-keyframes L_circle_rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes L_circle_rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@-webkit-keyframes L_stroke_rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}12.5%{-webkit-transform:rotate(135deg);transform:rotate(135deg)}25%{-webkit-transform:rotate(270deg);transform:rotate(270deg)}37.5%{-webkit-transform:rotate(405deg);transform:rotate(405deg)}50%{-webkit-transform:rotate(540deg);transform:rotate(540deg)}62.5%{-webkit-transform:rotate(675deg);transform:rotate(675deg)}75%{-webkit-transform:rotate(810deg);transform:rotate(810deg)}87.5%{-webkit-transform:rotate(945deg);transform:rotate(945deg)}100%{-webkit-transform:rotate(1080deg);transform:rotate(1080deg)}}@keyframes L_stroke_rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}12.5%{-webkit-transform:rotate(135deg);transform:rotate(135deg)}25%{-webkit-transform:rotate(270deg);transform:rotate(270deg)}37.5%{-webkit-transform:rotate(405deg);transform:rotate(405deg)}50%{-webkit-transform:rotate(540deg);transform:rotate(540deg)}62.5%{-webkit-transform:rotate(675deg);transform:rotate(675deg)}75%{-webkit-transform:rotate(810deg);transform:rotate(810deg)}87.5%{-webkit-transform:rotate(945deg);transform:rotate(945deg)}100%{-webkit-transform:rotate(1080deg);transform:rotate(1080deg)}}@-webkit-keyframes L_stroke_left_grow{0%,100%{-webkit-transform:rotate(-5deg);transform:rotate(-5deg)}50%{-webkit-transform:rotate(-140deg);transform:rotate(-140deg)}}@keyframes L_stroke_left_grow{0%,100%{-webkit-transform:rotate(-5deg);transform:rotate(-5deg)}50%{-webkit-transform:rotate(-140deg);transform:rotate(-140deg)}}@-webkit-keyframes L_stroke_right_grow{0%,100%{-webkit-transform:rotate(5deg);transform:rotate(5deg)}50%{-webkit-transform:rotate(140deg);transform:rotate(140deg)}}@keyframes L_stroke_right_grow{0%,100%{-webkit-transform:rotate(5deg);transform:rotate(5deg)}50%{-webkit-transform:rotate(140deg);transform:rotate(140deg)}}.loader-circle{top:50%;left:50%;z-index:1;color:#444;margin-top:-1em;margin-left:-1em;position:absolute;-webkit-animation:L_circle_rotate 1.568s linear infinite both;animation:L_circle_rotate 1.568s linear infinite both}.loader-circle .loader-stroke-left:before,.loader-circle .loader-stroke-right:before,.loader-circle:before{content:'';display:block;border-style:solid;border-width:.21429em;border-color:currentColor}.loader-circle,.loader-circle .loader-stroke-left,.loader-circle .loader-stroke-left:before,.loader-circle .loader-stroke-right,.loader-circle .loader-stroke-right:before,.loader-circle:before{width:2em;height:2em;border-radius:50%;box-sizing:border-box}.loader-circle .loader-stroke-left:before,.loader-circle .loader-stroke-right{position:absolute;clip:rect(0 2em 2em 1em)}.loader-circle .loader-stroke-left,.loader-circle .loader-stroke-right:before{position:absolute;clip:rect(0 1em 2em 0)}.loader-circle:before{position:absolute;clip:rect(0 1.05em 1em .95em)}.loader-circle .loader-stroke-left,.loader-circle .loader-stroke-right,.loader-circle:before{-webkit-animation:L_stroke_rotate 5332ms cubic-bezier(.4,0,.2,1) infinite both;animation:L_stroke_rotate 5332ms cubic-bezier(.4,0,.2,1) infinite both}.loader-circle .loader-stroke-right:before{-webkit-animation:L_stroke_right_grow 1333ms cubic-bezier(.4,0,.2,1) infinite both;animation:L_stroke_right_grow 1333ms cubic-bezier(.4,0,.2,1) infinite both}.loader-circle .loader-stroke-left:before{-webkit-animation:L_stroke_left_grow 1333ms cubic-bezier(.4,0,.2,1) infinite both;animation:L_stroke_left_grow 1333ms cubic-bezier(.4,0,.2,1) infinite both}
.mhn-slide .mhn-item{width:100%; padding:10px;}
.mhn-slide .mhn-inner{width:100%;height:100%;box-shadow:0 2px 10px 0 rgba(0,0,0,.16),0 2px 5px 0 rgba(0,0,0,.26);border-radius:0%;}
.mhn-slide .mhn-item img{display:none}
.mhn-slide .mhn-img{min-height:200px;overflow:hidden;height:100%;width:100%;color:white;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=) #eee no-repeat center/cover;position:relative}
.mhn-slide .mhn-text{text-align:center;padding:0 10px}
.mhn-slide .mhn-text h4{font-weight:700;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.mhn-slide .mhn-text p{max-height:4.5em;overflow:hidden}
.mhn-slide .owl-stage-outer{z-index:1}
.mhn-slide .owl-nav{color:#333;position:absolute;top:0;left:0;right:0;bottom:0}
.mhn-slide .owl-nav svg{color:currentColor}
.mhn-slide .owl-nav .disabled{display:none}
.mhn-slide .owl-prev,
.mhn-slide .owl-next{
	top:110px;
	z-index:2;
	width:40px;
	height:40px;
	padding:8px;
	margin-top:-20px;
	position:absolute;
	border-radius:50%;
	background-color:#fff;
	box-shadow:0 4px 4px rgba(0,0,0,.3),0 0 4px rgba(0,0,0,.2)
}
.mhn-slide .owl-prev{left:-10px}
.mhn-slide .owl-next{right:-10px} */


.digital-service1{
  width: 20%;
  height: 11.7em;
margin: 2% 5% 5% 5%;
border: 1.5px solid #807f7f91;
}
.digital-service2{
  width: 20%;
  height: 11.7em;
  margin: 2% 0% 5% 0%;
  border: 1.5px solid #807f7f91;
  
}
.digital-service3{
  width: 20%;
  height: 11.7em;
    margin: 2% 5% 5% 5%;
    border: 1.5px solid #807f7f91;
}
.digital-service4{
  width: 20%;
  height: 11.7em;
  margin: 2% 5% 5% 5%;
  border: 1.5px solid #807f7f91;
}
.digital-service5{
  width: 20%;
  height: 11.7em;
    margin: 2% 0% 5% 0%;
    border: 1.5px solid #807f7f91;
}
.digital-service6{
  width: 20%;
  height: 11.7em;
      margin: 2% 5% 5% 5%;
      border: 1.5px solid #807f7f91;
}

.digital-service1:hover, .digital-service2:hover, .digital-service3:hover, .digital-service4:hover, .digital-service5:hover, .digital-service6:hover{
  box-shadow: 2px 2px 15px 1px #60CAAD;
}

.price-list-title{
  background-color: #E0E4D6;
  max-width: 65%;
  display: block;
  margin: 3.5% auto 2% auto;
  height: 3.1em;
  padding-top: 1px;
  padding-left: 20px;
  position: relative;
}
.price-list-item, .price-list-item1{
  max-width: 65%;
  border: 1.5px solid #888;
  background: #fff;
  display: block;
  margin: 1% auto 0 auto;
  padding-left: 20px;
  position: relative;
}
.price-list-item a, .price-list-item1 a{
  text-decoration: none;
  color: #444444;
}
.price-list-item a:hover{
  text-decoration: none;
  color: #000000;
}

.price-list-item:hover{
  box-shadow: 2px 2px 15px 1px #60CAAD;
}
.price-item{
position: absolute;
top: 0;
right: 50px;
}

.text1 {
  position: absolute;
  left: 38%;
  top: 67%;
  background: #fff;
  padding: 10px 10px;
}
.form-social{
  position: absolute;
  left: 41.5%;
  top: 82%;
}

#master-carousel .item{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
#master-carousel .card-master{
  width: 50%;
  margin-right: 10px;
  margin-bottom: 10px;
}
@media only screen and (min-width : 480px){
#master-carousel-mob {
  display: none;
}
#review-carousel-mob {
  display: none;
}
}

/* .footer{
  width: 960px;
  display: block;
  margin: 0 auto;
} */


.cont-review-carousel{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 661.75px;
  margin: 0 auto 5% auto;
  justify-content: center;
  background-color: white;
  border: 1.5px solid #807f7f91;
  margin-right: 10px;
  }
  
  .review-title-carousel{
    width: 60%;
    margin: 3% 0 3% -5.5%;
  }
  .review-title-carousel span{
    font-size: 1em;
  }
  .review-star-carousel{
  width: 20%;
  margin: 2.5% 0 3% 0;
  }
  .review-star-carousel img{
  display: block;
  float: right;
  }
  .review-img-carousel{
    width: 40%;
    margin-left: 1.5%;
    margin-bottom: 4%;
    
  }
  .review-img-carousel img{
    border: 0.5px solid rgba(136, 136, 136, 0.582);
  }
  .review-text-carousel{
    width: 40%;
    margin-left: 8%;
  }
  .review-answer-carousel{
    width: 40%;
    margin-top: -35%;
    margin-left: 50%;
  }